<div class="lista-gastos">
    <div class="row">
        <div class="col-md-6">
            <h1 class="monto-total">S/. {{total | number: '1.2-2'}}</h1>
            <p>El total de los pagos registrados para este periodo</p>
        </div>
        <div class="col-md-6">
            <button mat-raised-button color="primary" (click)="handleClick()">Registrar un nuevo gasto</button>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let gasto of gastos">
            <mat-card>
                <mat-card-title>{{gasto.amount | number: '1.2-2'}}</mat-card-title>
                <mat-card-content>{{gasto.detail}}</mat-card-content>
                <mat-card-subtitle>{{gasto.createdAt | date: 'medium'}}</mat-card-subtitle>
            </mat-card>
        </div>
    </div>
</div>